<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Using_Servlet_Init_Method</display-name>
  <servlet>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>com.rose.Cookie.Add_Cookie_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/AddCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCookiesServlet</servlet-name>
    <servlet-class>com.rose.Cookie.Get_Cookies_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookiesServlet</servlet-name>
    <url-pattern>/GetCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCookieSetter</servlet-name>
    <servlet-class>com.rose.Cookie.Servlet_Cookie_Setter</servlet-class>
    <init-param>
      <param-name>go</param-name>
      <param-value>
  			weather
  		</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCookieSetter</servlet-name>
    <url-pattern>/ServletCookieSetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCookieReader</servlet-name>
    <servlet-class>com.rose.Cookie.Servlet_Cookie_Reader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCookieReader</servlet-name>
    <url-pattern>/ServletCookieReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSetCookie</servlet-name>
    <servlet-class>com.rose.Cookie.Get_Set_Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSetCookie</servlet-name>
    <url-pattern>/GetSetCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListServletCookieInformation</servlet-name>
    <servlet-class>com.rose.Cookie.List_Servlet_Cookie_Information</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServletCookieInformation</servlet-name>
    <url-pattern>/ListServletCookieInformation</url-pattern>
  </servlet-mapping>
</web-app>